<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index from server</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1>Index from server</h1>
    <iframe height="300px" width="400px" src="https://tv.castofly.com/?slides=#/embed/d7ecb976-1d8a-4a2a-a57c-8f7f5adb4645" title="Castofly Video" allow="fullscreen" allowfullscreen="true" frameborder="0" scrolling="no"></iframe>
    <h1>After selection of 1 slide only before embed</h1>
    <iframe height="300px" width="400px" src="https://tv.castofly.com/?slides=1#/embed/d7ecb976-1d8a-4a2a-a57c-8f7f5adb4645" title="Castofly Video" allow="fullscreen" allowfullscreen="true" frameborder="0" scrolling="no"></iframe>
</body>

</html>